.padding, section, header, footer {
    box-sizing: border-box;
    padding-right: $containerPaddingS;
    padding-left: $containerPaddingS;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    @media (min-width: $mobileP1) {
        padding-right: $containerPaddingM;
        padding-left: $containerPaddingM;
    }
    @media (min-width: $tabletP1) {
        padding-right: $containerPadding;
        padding-left: $containerPadding;
    }
    @media (min-width: $tabletLargeP1) {
        padding-right: $containerPaddingXL;
        padding-left: $containerPaddingXL;
    }
}