html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {

}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

//
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

a {
    text-decoration: none;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

img {
    display: block;
    height: auto;
}

button {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: $transparent;

    &:focus {
        outline: none;
    }
}

input, textarea, button {
    font-family: inherit;
}

body, html {
    margin: 0;
    width: 100%;
    height: 100svh;
    display: block;
    overflow: hidden;
  }
  
  #scroll-container {
    width: 100%;
    height: 100svh;
    .disabled-horizontal-scroll {
      overflow-x: hidden;
      min-height: 100svh;
      display: flex;
      flex-direction: column;
    }
  }
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  .hide-scrollbar {
    & >  .scrollbar-track-y {
      display: none !important;
    }
  }

  [data-image-src] {
    cursor: zoom-in
  }

  body {
    main {
      position: relative;
      top: 480px;
    }
    &.loaded {
      main {
        top: 0;
        transition: 630ms cubic-bezier(0.15, 0.00, 0.00, 1.00);
      }
    }
    &.reloaded {
      main {
        top: -280px;
        transition: 630ms cubic-bezier(0.15, 0.00, 0.00, 1.00);
        pointer-events: none;
      }
    }
    &.opacity {
      main {
        opacity: 0;
      }
    }
  }

  [data-card].hidden {
    display: none;
  }