html {
	font-size: 62.5%;
	color: $black;
	* {
		font-family: $primary-font;
	}
  }
  
  h1,
  .h1 {
	@include adaptiveProperty('font-size', 44, 36);
	line-height: 1.15;
	font-family: $secondary-font;
	font-weight: 300;
  }
  
  h2,
  .h2 {
	@include adaptiveProperty('font-size', 44, 36);
	line-height: 1.15;
	font-family: $secondary-font;
	font-weight: 300;
  }
  
  h3,
  .h3 {}
  
  h4,
  .h4 {
	@include adaptiveProperty('font-size', 28, 24);
	line-height: 1.5;

  }
  
  h5,
  .h5 {
	@include adaptiveProperty('font-size', 24, 20);
	line-height: 1.2;
	font-family: $secondary-font;
	font-weight: 700;
}
  
  h6,
  .h6 {
	@include adaptiveProperty('font-size', 20, 20);
	line-height: 1.2;
  }
  
  p,
  .p1 {
	@include adaptiveProperty('font-size', 16, 16);
	line-height: 1.5;
  }
  
  .p2 {
	@include adaptiveProperty('font-size', 20, 18);
	line-height: 1.55;
  
	@media(min-width: $tabletP1) {
	  line-height: 1.6;
	}
  }

  .p-small {
	@include adaptiveProperty('font-size', 14, 14);
	line-height: 1.45;

  }
  
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	margin-top: 1.2rem;
  
	@media(min-width: $tabletSmallP1) {
	  margin-top: 3.4rem;
	}
  
  
	&+p,
	&+ul,
	&+ol {
	  margin-top: 1.6rem;
  
	  @media(min-width: $tabletP1) {
		margin-top: 2.4rem;
	  }
  
	}
  }
  
  p+p {
	margin-top: 2.4rem;
  
	@media(min-width: $tabletSmallP1) {
	  margin-top: 3.2rem;
	}
  
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  li,
  p {
	&:first-child {
	  margin-top: 0;
	}
  
	&:last-child {
	  margin-bottom: 0;
	}
  }
  
  
  table {
	border: 1px solid #DDDDDD;
	max-width: 100rem;
	width: 100%;
  
  
	th {
	  text-align: left;
	  @extend .p1;
	  font-weight: 700;
	  padding: 2rem;
	  text-transform: uppercase;
  
	}
  
	td {
	  border: 1px solid #DDDDDD;
	  color: #404040;
	  @extend .p1;
	  padding: 2rem;
	  width: 42%;
  
  
	  &:last-child {
		width: 58%;
	  }
  
  
	}
  }
  
  ul,
  ol {
	list-style: none;
	margin: 0;
  
	li {
	  @extend .p1;
  
	  &+li {
		margin-top: .6rem;
  
	  }
	}
  }
  
  ul {
	li {
	  position: relative;
	  padding-left: 1.6rem;
  
	  @media(min-width: $tabletP1) {
		padding-left: 2rem;
	  }
  
  
	  &:after {
		content: '';
		width: .6rem;
		height: .6rem;
		background-color: $secondary;
		border-radius: 50%;
		position: absolute;
		left: 0;
		top: .9rem;
  
		@media(min-width: $tabletSmallP1) {
		  top: 1.1rem;
		}
  
		@media(min-width: $deskLargeP1) {
		  top: 1.2rem;
		}
  
	  }
	}
  }
  
  ol {
	list-style-type: decimal;
	margin-left: 1.6rem;
  
	@media(min-width: $tabletP1) {
	  margin-left: 2rem;
	}
  
  }
  
  
  .reset-list {
	list-style-type: none;
	padding: unset;
	margin: unset;
  
	li {
	  padding: unset;
	  margin: unset;
  
	  &:after {
		display: none;
	  }
	}
  }
  
  .reset-table {
	border: unset;
	max-width: unset;
  
	th,
	td {
	  max-width: unset;
	  width: unset;
	  border: unset;
	  padding: unset;
	}
  }