// container
$containerPaddingS: 2.4rem;
$containerPaddingM: 3.2rem;
$containerPadding: 6.4rem;
$containerPaddingXL: 10.8rem;

// Sizing
$containerMaxWidth: 1440;
$K2Large: 1921px;
$deskXLarge: 1920px;
$deskXLargeP1: calc($deskXLarge / 1px) + 1px;
$deskLarge: 1599px;
$deskLargeP1: calc($deskLarge / 1px) + 1px;
$desktop: 1440px;
$desktopP1: calc($desktop / 1px) + 1px;
$tabletLarge: 1280px;
$tabletLargeP1: calc($tabletLarge / 1px) + 1px;
$tablet: 1023px; // @media (max-width: $tablet) --> 1024px and smaller
$tabletP1: calc($tablet / 1px) + 1px; // @media (min-width: $tabletP1) --> 1025px and bigger
$tabletSmall: 767px;
$tabletSmallP1: calc($tabletSmall / 1px) + 1px;
$mobile: 639px;
$mobileP1: calc($mobile / 1px) + 1px;
$mobileSmall: 370px;
$mobileSmallP1: calc($mobileSmall / 1px) + 1px;

// Adaptive Property Sizing
$adaptivePropertyMaxViewport: $containerMaxWidth;
$adaptivePropertyMinViewport: 375;


// Colors

// base
$white: #ffffff;
$black: #000000;
$transparent: rgba(0, 0, 0, .0);

$primary: #67676B;
$secondary: #00A6D6;
$light: #EFF1F3;
$border-gray: #E5E5E5;
$light-blue: #E0F5FE;
$txt-gray: #666666;

// Fonts
$primary-font: 'Arial', 'Verdana', sans-serif ;
$secondary-font: 'Roboto Slab', 'Times New Roman', serif;