.btn {
    cursor: pointer;
    outline: none;
    position: relative;

    width: fit-content;
    min-height: 4.8rem;
    padding: 0;

    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    white-space: nowrap;
    @include adaptiveProperty('font-size', 16, 16);
    color: $white;
    background-color: $secondary;
    overflow: hidden;
    transition:  .5s all cubic-bezier(0.15, 0.00, 0.00, 1.00);
    span {
        padding: 1.2rem 4rem;
        min-height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition:  .5s all cubic-bezier(0.15, 0.00, 0.00, 1.00);
        & + span {
            position: absolute;
            top: 100%;
            right: 0;
        }
    }
    .btn__icon{
        padding: 1.6rem 0 1.6rem 2.4rem;
        svg,use{
            width: 1.6rem;
            height: auto;
            object-fit: contain;
        }
        & + span {
            padding: 1.2rem 2.4rem 1.2rem .8rem;
            & + span {
                padding: 1.2rem 2.4rem 1.2rem .8rem;
            }
        }
    }

    &:hover {
        span {
            transform: translateY(-100%);
        }
    }

    // .btn--white
    &--white{
        background-color: $white;
        color: $black;
    }
    &.disabled {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    //.btn--full-width-onmobile
    &--full-width-onmobile {
        @media(max-width: $mobile) {
            width: 100%;
        }
        span  {
            @media(max-width: $mobile) {
                width: 100%;
            }

        }
    }
}