.link {
    @extend .p1;
    font-weight: 700;
    color: $black;
    line-height: 1.25;
    display: inline-block;
    position: relative;
    &:after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $black;
    }

    &--white {
        color: $white;
        &:after {
            background-color: $white;
        }
    }
}