.accordion {
    padding: 1.2rem 0;
    border-top: 4px solid #E5E5E5;
    @media(min-width: $mobileP1) {
        padding: 1.6rem 0;
    }
    &:first-child {
        border-top: none;
        padding: 0 0 1.6rem;
        @media(min-width: $mobileP1) {
            border-top: 4px solid #E5E5E5;
            padding: 1.6rem 0;
        }
        .accordion__head {
            padding: 1.2rem 0 3.2rem;
            @media(min-width: $mobileP1) {
                padding: 3.2rem 0;
            }

        }

    }
    // .accordion__head

    &__head {
        padding: 3.2rem 0;
        cursor: pointer;
        button {
            width: 2.4rem;
            height: 2.4rem;
            box-sizing: content-box;
            position: relative;
            cursor: pointer;
            border-radius: 4px;
            transition: 170ms linear;
            @media(min-width: $mobileP1) {
                width: 4rem;
                height: 4rem;
            }
            &:before,
            &:after {
                position: absolute;
                content: '';
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-90deg);
                width: 1.7rem;
                height: 1.5px;
                border-radius: .1rem;
                background-color: $black;
                transition:  .5s all cubic-bezier(0.15, 0.00, 0.00, 1.00);
            }
            &:after {
                transform: translate(-50%, -50%) rotate(-180deg);
            }
            &:hover {
                background-color: #E0F5FE;
            }
        }
        h2 {
            @extend .h4;
            font-family: $primary-font;
        }
        &.opened {
            button {
                &:before,
                &:after {
                    transform: translate(-50%, -50%) rotate(0deg);
                }

            }
            & + .accordion__content {
                grid-template-rows: 1fr;
                transition: 750ms  cubic-bezier(0.15, 0.00, 0.00, 1.00);
                .accordion__content-wrapper {
                    padding-bottom: 4.8rem;
                }
            }
        }
    }

    // .accordion__content

    &__content {
        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: 500ms cubic-bezier(0.15, 0.00, 0.00, 1.00);
        pointer-events: none;
    }

    // .accordion__content-wrapper

    &__content-wrapper {
        min-height: 0;
        gap: 2.4rem;
        transition: 500ms cubic-bezier(0.15, 0.00, 0.00, 1.00);
        padding-bottom: 0;
    }
}
