.banner {
    padding-top: 9rem;
    padding-bottom: 2.4rem;
    color: $white;
    position: relative;
    z-index: 2;
    &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 100%;
        background-color: $white;
        z-index: -1;
    }
    @media(min-width: $mobileP1) {
        padding-top: 12rem;
        padding-bottom: 4rem;
    }
    & + section {
        padding-top: 5.6rem;
        @media(min-width: $mobileP1) {
            padding-top: 8rem;
        }
    }
    // .banner__wrapper

    &__wrapper {
        position: relative;
        padding: 3.2rem 2.4rem 4rem;
        @media(min-width: $tabletSmallP1) {
            padding: 4rem 4rem 6rem;
        }
    }

    // .banner__bg

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        &:before {
            position: absolute;
            content: '';
            inset: 0;
            width: 100%;
            height: 100%;
            background: #0C234066;
        }
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    // .banner__title

    &__title {
        @media(min-width: $tabletSmallP1) {
            width: 50%;
        }
        h1, h2 {
            @include adaptiveProperty('font-size', 60, 36);
            font-weight: 700;
            letter-spacing: -.02em;
            line-height: 1.2;
            font-family: $primary-font;
            @media(min-width: $tabletSmallP1) {
                line-height: 1.05;
            }
        }
        small {
            display: block;
            margin-bottom: .4rem;
            @extend .h4;
            font-weight: normal;
            line-height: 1.3;
        }
    }

    // .banner__content

    &__content {
        padding-top: 3.2rem;
        @media(min-width: $tabletSmallP1) {
            max-width: 50%;
            width: 45.5rem;
            padding-left: 4rem;
            padding-top: 0;
        }
    }

    // .banner__link

    &__link {
        margin-top: 1.6rem;
    }
}

