.card-with-image {
    position: relative;
    display: flex;

    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #00A6D6;
        border-radius: 4px;
        z-index: -1;
        opacity: 0;
        transition: .5s cubic-bezier(0.15, 0.00, 0.00, 1.00) all, .0s .5s opacity;
    }

    // .card-with-image__wrapper

    &__wrapper {
        background-color: #EFF1F3;
        position: relative;
        top: 0;
        left: 0;
        transition: .5s cubic-bezier(0.15, 0.00, 0.00, 1.00) all;
        border-radius: 4px;
        overflow: hidden;
        min-height: 100%;
    }

    // .card-with-image__image

    &__image {
        height: 50vw;
        max-width: 100%;
        width: 100%;
        overflow: hidden;

        @media(min-width: $mobileP1) {
            max-width: 20.8rem;
            width: 100%;
            min-height: 100%;
            height: unset;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .33s all cubic-bezier(0.15, 0.00, 0.00, 1.00);
            transform: scale(1);
        }
    }

    // .card-with-image__content

    &__content {
        padding: 2.4rem;

        h3 {
            color: #00A6D6;
            @extend .p1;
            letter-spacing: -.01em;
            font-weight: 700;
            font-family: $primary-font;
        }

        h4 {
            margin-top: 8px;
            @extend .h5;
            font-weight: 500;

            &:first-child {
                margin-top: 0;
            }
        }

        p {
            color: #67676B;
            margin-top: 1.6rem;
        }

        .arrow {
            margin-top: 4rem;
            height: 1.6rem;
            min-width: 2.4rem;
            max-width: 2.4rem;
            overflow: hidden;
            @media(min-width: $mobileP1) {
                min-width: 3.4rem;
                max-width: 3.4rem;
                width: 3.4rem;
                height: 2.4rem;
                overflow: hidden;
                margin-top: 3.2rem;
            }

            svg {
                min-width: 3rem;
                height: auto;

                @media(min-width: $mobileP1) {
                    min-width: 4rem;
                }

                &:first-child {
                    min-width: unset;
                    right: 0px;
                    width: 1rem;
                    transform: translateY(-50%);
                    @media(min-width: $mobileP1) {
                        width: 1.2rem;
                    }
                }
            }
        }
    }

    &:hover {
        &:before {
            opacity: 1;
            transition: .5s cubic-bezier(0.15, 0.00, 0.00, 1.00) all, .0s opacity;
        }

        .card-with-image__wrapper {
            top: -10px;
            left: -10px;
        }

        .card-with-image__image {
            img {
                transform: scale(1.1);
            }
        }

        .arrow {
            @media(min-width: $mobileP1) {

                min-width: 4rem;
                max-width: 4rem;
                width: 4rem;
            }

            svg {
                &:first-child {
                    @media(min-width: $mobileP1) {
                        right: 0px;
                    }
                }

                &:last-child {
                    @media(min-width: $mobileP1) {
                        width: 4rem;
                    }
                }
            }
        }
    }

    //.card-with-image--reverse
    &--reverse {
        .card-with-image__wrapper {
            flex-direction: row-reverse;
        }
    }

    //.card-with-image--not-full-image
    &--not-full-image {
        .card-with-image__content {
            @media(min-width: $mobileP1) {
                padding: 3.2rem;
            }
        }

        .card-with-image__image {
            padding: 2.4rem;
            max-width: 14rem;
            padding-bottom: 0;
            height: unset;

            @media(min-width: $mobileP1) {
                padding: 2.4rem;
                max-width: 25.6rem;
            }

            img {
                object-fit: contain;
            }
        }

        &:hover {

            .card-with-image__image {
                img {
                    transform: scale(1);
                }
            }
        }
    }
}