.categories {
    position: relative;
    @media (max-width:$mobile) {
        width: 100vw;
        margin-left: -2.4rem;
    }
    &::after {
        position: absolute;
        content: '';
        top: calc(50% + 4px);
        right: 1.2rem;
        transform: translateY(-50%);
        width: 1.2rem;
        height: 1.2rem;
        background-image: url(../src/img/icons/arrow-right-black.svg);
        background-position: center;
        background-size: 12px 12px;
        background-repeat: no-repeat;
        z-index: 3;
        @media (min-width:$mobileP1) {
            display: none;
        }
    }
    &::before {
        position: absolute;
        content: '';
        width: 12.8rem;
        height: 6.4rem;
        top: calc(50% + 4px);
        transform: translateY(-50%);
        right: 0;
        pointer-events: none;
        z-index: 3;
        background: linear-gradient(270deg, #FFFFFF 24.22%, rgba(255, 255, 255, 0) 100%);
        @media (min-width:$mobileP1) {
            display: none;
        }
    }

    //.categories__wrapper
    &__wrapper {
        width: 100%;
        overflow-x: auto;
        @media (max-width:$mobile) {
            padding: 0 4.8rem 0 2.4rem;
        }

    }
    // .categories__item

    &__item {
        border-radius: 4px;
        background-color: #EFF1F3;
        margin-right: 1.6rem;
        margin-top: .8rem;
        white-space: nowrap;
        @extend .p1;
        font-family: $secondary-font;
        a {
            padding: 8px 24px;
            box-sizing: border-box;
            border-radius: 4px;
            position: relative;
            z-index: 2;
            color: #67676B;

            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            overflow: hidden;

        }
        &.next {
            .categories__bg {
                transform: translateX(-105%);
            }
            .categories__text {
                left: 0;
                right: unset;

            }
        }
        &.prev {
            .categories__bg {
                transform: translateX(105%);
            }
            .categories__text {
                left: unset;
                right: 0;
                span {
                    text-align: end;
                    justify-content: flex-end;
                    left: unset;
                    right: 0;
                }

            }
        }
        &.transition {
            .categories__bg {
                transition: .5s cubic-bezier(0.15, 0.00, 0.00, 1.00);
            }

        }
    }

    //.categories__text
    &__text {
        display: block;
        text-align: center;
        position: absolute;
        z-index: 3;
        width: 0%;
        top: 0;
        left: 0;
        height: 100%;
        white-space: nowrap;
        transition: .5s cubic-bezier(0.15, 0.00, 0.00, 1.00);
        overflow: hidden;
        pointer-events: none;
        span {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
            padding: 8px 24px;
            color: $white;
            white-space: nowrap;

        }
    }

    //.categories__bg
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #00A6D6;
        width: 100%;
        height: 100%;
        border-radius: 4px;

    }


    // .categories__item--active

    &__item--active {
        .categories__text {
            width: 100%;
        }
        .categories__bg {
            transform: translate(0);
        }
        &.prev,
        &.next {
            .categories__bg {
                transform: translate(0);
            }

        }
    }

    //.categories--without-shadow-arrow
    &--without-shadow-arrow {
        &::after,
        &::before {
            display: none;
        }
        .categories__wrapper {
            @media (max-width:$mobile) {
                padding: 0 .8rem 0 2.4rem;
            }

        }
    }
}
