.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;
    // .preloader__yellow

    &__yellow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FFB81C;
        transform: translateY(100%);
    }

    // .preloader__blue

    &__blue {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $secondary;
        transform: translateY(100%);
    }

    &.reloaded {
        pointer-events: all;
        .preloader__yellow,
        .preloader__blue {
            transform: translateY(0%);
            transition: 430ms cubic-bezier(0.75, 0.00, 0.65, 1.00);

        }
        .preloader__blue {
            transition: 430ms 50ms cubic-bezier(0.75, 0.00, 0.65, 1.00);

        }
    }
    &.loaded {
        pointer-events: all;
        
        .preloader__blue {
            transform: translateY(-100%);
            transition: 630ms cubic-bezier(0.75, 0.00, 0.65, 1.00);

        }
        .preloader__yellow {
            transform: translateY(-100%);
            transition: 630ms 80ms cubic-bezier(0.75, 0.00, 0.65, 1.00);

        }
    }
}
