.search {
    max-width: 123.2rem;
    padding-top: 11.4rem;
    padding-bottom: 5.6rem;
    position: relative;
    z-index: 2;
    @media (min-width:$mobileP1) {
        padding-top: 16rem;
        padding-bottom: 12rem;
        
    }
    &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 100%;
        background-color: $white;
        z-index: -1;
    }
    // .search__search

    &__search {
        form {
            background-color: #EFF1F3;
            border-radius: 4px;
            padding: 1.6rem 2.4rem;
            width: 100%;
            display: flex;
        }
        input {
            padding: 0;
            @extend .p1;
            color: $black;
            background-color: transparent;
            outline: none;
            width: 100%;
            display: block;
        }
    }

    // .search__row

    &__row {
        margin-top: 4rem;
        @media (min-width:$mobileP1) {
            margin-top: 5.6rem;
            
        }
    }

    // .search__result

    &__result {
        h1 {
            @extend .h4;
            letter-spacing:  -.01em;
            font-family: $primary-font;
        }
    }

    // .search__filters

    &__filters {
        margin-top: 2.4rem;
        gap: 2.4rem 0;
        @media (min-width:$tabletSmallP1) {
            margin-top: 0rem;
            margin-left: 2rem;
            
        }
    }

    // .search__btn

    &__btn {
        max-width: 2.4rem;
        width: 100%;
        margin-right: 1.6rem;
        svg {
            width: 100%;
            height: auto;
        }
    }

    // .search__content

    &__content {
        margin-top: 3.2rem;
        @media (min-width:$mobileP1) {
            margin-top: 5.6rem;
            
        }
    }

    // .search__wrapper

    &__wrapper {
    }

    // .search__pagination

    &__pagination {
        margin-top: 5.6rem;
        @media (min-width:$mobileP1) {
            margin-top: 8rem;
            
        }
    }
}



