.section-wrapper {
    padding-top: 5.6rem;
    padding-bottom: 5.6rem;
    position: relative;
    z-index: 2;
    flex-grow: 1;
    &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 100%;
        background-color: $white;
        z-index: -1;
    }
    @media(min-width: $mobileP1) {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
    // .section-wrapper__title

    &__title {
        margin-bottom: 3.2rem;
        @media(min-width: $mobileP1) {
            margin-bottom: 4rem;
        }
        h2 {
            @extend .h4;
            font-family: $primary-font;
            letter-spacing:  -.01em;
            font-weight: normal;
        }
    }

    //.section-wrapper__text
    &__text {
        max-width: 80.8rem;
        margin: 0 auto;
        &:not(:first-child) {
            // display: block;
            margin-top: 3.2rem;

            @media(min-width: $tabletP1) {
                margin-top: 4rem;
            }
        }
        h2 {
            @include adaptiveProperty('font-size', 16, 16);
            font-weight: 700;
            line-height: 1.5;
            color: $secondary;
            font-family: $primary-font;
    
            &+h3 {
                margin-top: 1.6rem;
            }
            & + p:not(:first-child) {
                margin-top: 2.4rem;
                color: #67676B;
                @media(min-width: $tabletP1) {
                    margin-top: 4rem;
                }
            }

        }
        h3 {
            @extend .h1;
    
            &+p:not(:first-child) {
                margin-top: 3.2rem;    
                @media(min-width: $tabletP1) {
                    margin-top: 4rem;
                }
    
            }

        }
    }
}

