.modal-video-item {
    position: relative;
    // .modal-video-item__wr-iframe

    &__wr-iframe {
        position: relative;
        min-width: calc(100vw - 4.8rem);
        pointer-events: none;
        aspect-ratio: 2/1;
        overflow:hidden;
        clip-path:polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
        transition:  .5s all cubic-bezier(0.15, 0.00, 0.00, 1.00);
        @media (min-width: $tabletLargeP1) {
            min-width: calc(1224px - 4.8rem);
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% + 2px);
            height: 100%;
        }
    }
    &.modal-window__item{
        background-color: transparent;
    }
    // .modal-video-item__close

    &__close {
        cursor: pointer;
        position: absolute;
        background-color: transparent;
        border: none;
        width: 4rem;
        height: 4rem;
        top: 1.6rem;
        right: 1.6rem;
        background-color: $white;
        border-radius: 4px;
        z-index: 5;
        cursor: pointer;
        opacity: 0;
        transition: .17s linear;
        @media (min-width: $tabletSmallP1) {
            top: 4rem;
            right: 4rem;
        }
        &:before,
        &:after {
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            width: 1.7rem;
            height: 1.5px;
            border-radius: .1rem;
            background-color: $black;
            transition:  .5s all cubic-bezier(0.15, 0.00, 0.00, 1.00);
        }
        &::before{
            transform: translate(-50%, -50%) rotate(-135deg);
        }
        &:hover {
            &:before,
            &:after {
                transform: translate(-50%, -50%) rotate(0deg);
            }

        }
    }
    // .modal-video-item__wr-iframe

    &__wr-image {
        overflow: hidden;
        pointer-events: none;

        display: flex;
        align-items: center;
        justify-content: center;
        overflow:hidden;
        clip-path:polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
        transition:  .5s all cubic-bezier(0.15, 0.00, 0.00, 1.00);

    }

    //.modal-video-item__image
    &__image {
        display: inline-block;
        position: relative;
        max-height: 100%;
        img {
            max-width: 100%;
            width: auto;
            object-fit: contain;
            max-height: calc(100vh - 6.8rem);
            @media (min-width: $tabletP1) {
                max-height: calc(100vh - 8rem);
            }
        }

    }
}
