.modal-window {

    position: fixed;
    z-index: 18;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 6.8rem);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2.4rem;

    box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;


    opacity: 0;
    visibility: hidden;

    transition: 0s 500ms linear;
    @media (min-width: $tabletP1) {
        padding: 0 2.4rem;
        height: calc(100% - 8rem);
    }

    // .modal-window--active

    &--active {
        opacity: 1;
        visibility: visible;
        transition: 0s 0ms linear;
        .modal-window__fader {
            opacity: 1;
        }
    }

    // .modal-window__fader

    &__fader {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        transition:  170ms linear;
        height: 100%;
        background: $white;
    }

    // .modal-window__item

    &__item {
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        margin-right: auto;
        margin-left: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0s .5s opacity;
        // .modal-window__item--active

        &--active {
            opacity: 1;
            z-index: 6;
            transition: 0s .0s opacity;
            &.show-video {
                .modal-video-item__wr-iframe {
                    pointer-events: all;
                    opacity: 1;
                    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
                    .modal-window__close-icon {
                        opacity: 1;
                        visibility: visible;
                    }
                }

            }
            &.show-image {
                .modal-video-item__wr-image {
                    pointer-events: all;
                    opacity: 1;
                    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
                    .modal-window__close-icon {
                        opacity: 1;
                        visibility: visible;
                    }
                }

            }
        }
    }


}


