.download {
    display: flex;
    border-radius: .4rem;
    overflow: hidden;

    // .download__wrapper

    &__wrapper {
        width: 6.4rem;
        height: 6.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $secondary;
    }

    // .download__icon

    &__icon {
        width: 2.4rem;
        height: 2.4rem;

        svg,use{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // .download__inner

    &__inner {
        padding: 1.2rem 2rem;
        box-sizing: border-box;
        background-color: $light;

        h5{
            @include adaptiveProperty('font-size',14,14);
            color: $black;
            line-height: 1.42;
            font-family: $primary-font;
            font-weight: normal;

            &+h6{
                margin-top: 0;
            }
        }
        h6{
            @include adaptiveProperty('font-size',12,12);
            font-weight: normal;
            line-height: 1.66;
            color: $primary;
            font-family: $primary-font;
        }
    }
}
