.image {
    display: block;
    margin-top: 3.2rem;
    @media(min-width: $tabletP1) {
        margin-top: 4rem;
    }
    &:first-child {
        margin-top: 0;
    }
    figure {
        width: 100%;
    }
    figcaption {
        display: block;
        margin-top: .6rem;
        color: #67676B;
        @extend .p-small;
        @media(min-width: $tabletSmallP1) {
            margin-top: 1.6rem;
        }
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}