.infobox {
    border: 2px solid #00A6D6;
    background-color: #E0F5FE;
    padding: 1.4rem ;
    border-radius: .8rem;
    box-sizing: border-box;
    @media(min-width: $tabletSmallP1) {
        padding: 1.6rem 2.4rem;
    }
    // .infobox__icon

    &__icon {
        max-width: 2.4rem;
        min-width: 2.4rem;
        height: auto;
        margin-right: 1.6rem;
        @media(min-width: $tabletSmallP1) {
            margin-right: 2.4rem;
        }
    }

    // .infobox__content

    &__content {
        width: 100%;
        p {
            @extend .p-small;
            color: $black;
        }
    }
}
