.quiz {
    margin-top: 2.4rem;
    &:not(:last-child) {
        margin-bottom: 2.4rem;
    }
    p {
        @media(min-width: $tabletSmallP1) {
            padding: 1.6rem 0;
        }
    }

    // .quiz__wrapper

    &__wrapper {
    }

    // .quiz__item

    &__item {
        margin-top: 1.6rem;
        cursor: pointer;
        position: relative;
        input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-appearance: none;
            appearance: none;
            opacity: 0;
            cursor: pointer;
            &:checked{
                & + label {
                    background-color: #E5F5F1;
                    border-color: #009B77;
                }
            }
            &[data-valid="invalid"]:checked{
                & + label {
                    background-color: transparent;
                    border-color: #EC4242;
                }
            }
        }
        label {
            cursor: pointer;
            display: block;
            transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
            padding: 1.6rem;
            box-sizing: border-box;
            border-radius: 4px;
            border: 1px solid #96969B;
            @extend .p1;
            small {
                display: block;
                font-size: 1.2rem;
                line-height: 1.6;
                color: #67676B;
                margin-bottom: 4px;
            }

        }
    }
}
