.text {
    display: block;
    margin-top: 3.2rem;

    @media(min-width: $tabletP1) {
        margin-top: 4rem;
    }
    &:first-child {
        margin-top: 0;
    }


    h1 {
        @extend .h1;

        &+p {
            margin-top: 3.2rem;

            @media(min-width: $tabletP1) {
                margin-top: 4rem;
            }

        }
    }

    h4 {
        padding-top: 2.4rem;
        color: #00A6D6;
        @extend .h6;
        line-height: 1.2;
        font-weight: 700;
        @media(min-width: $tabletSmallP1) {
            padding-top: 4rem;
        }
    }

    p {
        color: $black;
        @extend  .p1;
        display: block;
        & + p {
            margin-top: 2.4rem;
        }
        &:not(:first-of-type) {
            margin-top: 2.4rem;
        }
        mark {
            background-color: transparent;
            display: inline-block;
            position: relative;
            &:before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: calc(100% + 4px);
                height: 100%;
                background-color: #B9EEFE;
                z-index: -1;
                transform: skew(-15deg, 0deg);
            }
        }
    }
    &.intro p {
        @extend .p2;
        color: $txt-gray;
    }
    ul, ol {
        margin-top: 2.4rem;
    }
    .grid-links {
        gap: 2.4rem;
        margin-top: 2.4rem;
    }
    .btn {
        margin-top: 2.4rem;
    }
}