.video {
    margin-top: 3.2rem;

    @media(min-width: $tabletP1) {
        margin-top: 4rem;
    }
    &:first-child {
        margin-top: 0;
    }

    h4 {
        padding-top: 2.4rem;
        color: #00A6D6;
        @extend .h6;
        line-height: 1.2;
        font-weight: 700;
        @media(min-width: $tabletSmallP1) {
            padding-top: 4rem;
        }
    }

    // .video__wrapper

    &__wrapper {
    }
    figcaption {
        display: block;
        margin-top: .6rem;
        color: #67676B;
        @extend .p-small;
        @media(min-width: $tabletSmallP1) {
            margin-top: 1.6rem;
        }
    }

    // .video__preload

    &__preload {
        position: relative;
        cursor: pointer;
        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #0C234066;
        }
        img {
            width: 100%;
        }
        svg {
        }
    }

    //.video__play
    &__play {
        position: absolute;
        width: 100%;
        max-width: 15%;
        top: 50%;
        left: 50%;
        background-color: #00A6D6;
        border-radius: 50%;
        border: 1px solid $white;
        transform: translate(-50%,-50%);
        padding-bottom: 14.5%;
        z-index: 2;
        @media(min-width: $tabletSmallP1) {
            border: 2px solid $white;
        }
        svg {
            width: 30%;
            height: auto;
            margin-left: 5%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

    }
}
