.footer {
    margin-top: 2.4rem;
    @media(min-width: $tabletP1) {
        gap: 10rem;
        margin-top: 4rem;
    }

    //.footer__container
    &__container {
        padding-top: 4rem;
        padding-bottom: 4.8rem;
        @extend .padding;
        @media (min-width:$tabletSmallP1) {
            position: absolute;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
            
        }
        @media(min-width: $tabletP1) {
            padding-top: 8rem;
            padding-bottom: 5.2rem;
            gap: 10rem;
        }

    }


    // .footer__vector

    &__vector {
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0%;
        transform: translateX(-50%);
        left: 50%;
        background-color: $light;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: left bottom;
        }
    }

    // .footer__wrapper

    &__wrapper {
        position: relative;
        z-index: 1;
        flex-shrink: 0;

        @media(max-width: $tablet) {
            order: 3;
            margin-top: 5.6rem;
        }

        @media(min-width: $tabletP1) {
            margin-top: auto;
        }
    }

    // .footer__logo

    &__logo {
        display: block;
        max-width: 10.2rem;
        width: 100%;
        margin-bottom: 3.2rem;

        @media(min-width: $tabletP1) {
            max-width: 18.5rem;
            margin-bottom: 4rem;
        }


        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // .footer__copyright

    &__copyright {
        @include adaptiveProperty('font-size', 12, 12);
        color: $black;
        display: flex;
        gap: 1.6rem;
    }

    // .footer__info

    &__info {
        position: relative;
        z-index: 1;
        @media(min-width: $tabletP1) {
            width: 50%;
        }
        h5 {
            @extend .h6;
            font-weight: 700;

            &+p {
                margin-top: 1.6rem;
            }
        }
        p {
            max-width: 60rem;
            @media(min-width: $tabletP1) {
                max-width: 31.2rem;
            }
        }
    }

    // .footer__lists

    &__lists {
        position: relative;
        z-index: 1;
        gap: .8rem;
        margin-top: 5.6rem;

        @media(min-width: $tabletP1) {
            gap: 2.4rem;
            margin-top: 0;
            max-width: 32rem;
            width: 100%;
        }

        @media(min-width: $tabletLargeP1) {
            max-width: 40rem;
        }

    }

    // .footer__list

    &__list {
        width: 50%;

        h6 {
            @include adaptiveProperty('font-size', 16, 16);
            font-weight: 700;

            &+ul {
                margin-top: 2.4rem;

                @media(min-width: $tabletP1) {
                    margin-top: 1.6rem;
                }

            }
        }

        ul {
            @extend .reset-list;

            li {
                &:not(:first-of-type) {
                    margin-top: 2.4rem;

                    @media(min-width: $tabletP1) {
                        margin-top: 1.6rem;
                    }
                }
            }
        }
    }
}