.form {
    width: 100%;
    margin-top: 5.6rem;
    @media(min-width: $tabletSmallP1) {
        margin-top: 8rem;
    }
    form {
        width: 100%;
        .field + .field {
            margin-top: 3.2rem;
            @media(min-width: $tabletSmallP1) {
                margin-top: 4rem;
            }
        }
        button {
            margin-top: 3.2rem;
            @media(min-width: $tabletSmallP1) {
                margin-top: 4rem;
            }
        }
    }
}