.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;
    @media(min-width: $tabletP1) {
        height: 8rem;
    }
    @media(max-width: $tablet) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 0;
        margin: 0;
        height: 6.8rem;
    }

    //.search-bar__wrapper
    &__wrapper {
        [data-open-search] {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 3;
            top: 0;
            left: 0;
            cursor: pointer;
            &:hover + .search-bar__btn {
                    &:after {
                        width: calc(100% - 2rem);
                    }

            }
        }
    }

    // .search-bar__btn

    &__btn {
        cursor: pointer;
        position: relative;
        z-index: 2;
        padding: 2.4rem 2.8rem;
        box-sizing: content-box;
        display: block;
        transition: .5s cubic-bezier(0.15, 0.00, 0.00, 1.00);
        position: relative;
        &:after {
            position: absolute;
            content: '';
            bottom: 1.6rem;
            left: 10px;
            height: 2px;
            background-color: $black;
            width: 0%;
            transition: .5s cubic-bezier(0.15, 0.00, 0.00, 1.00);
        }
        svg {
            width: 2.4rem;
            height: auto;
        }
    }

    // .search-bar__field

    &__field {
        position: absolute;
        top: 0;
        right: -0px;
        padding: 2.4rem;
        box-sizing: border-box;
        background-color: #EFF1F3;
        height: 100%;
        width: 100vw;
        transition: .5s all cubic-bezier(0.15, 0.00, 0.00, 1.00);
        transform: translateY(-100%);
        display: flex;
        align-items: center;
        @media(min-width: $mobileP1) {
            right: -8px;
        }
        @media(min-width: $tabletP1) {
            left: 0;
            right: unset;
            width: 50vw;
            padding: 2rem 2rem 2rem 8rem;
        }
        .search-bar__btn {
            padding: 0;
            margin-right: 1.6rem;
            @media(min-width: $tabletP1) {
                display: none;
            }

        }
        input {
            padding: 0;
            margin: 0;
            border: none;
            outline: none;
            color: $black;
            @extend .p1;
            width: 70%;
            background-color: transparent;
            @media(min-width: $tabletP1) {
                width: 15rem;
            }
            @media(min-width: $tabletLargeP1) {
                width: 20rem;
            }
            &::placeholder {
                color: #67676B;
            }
        }

    }

    //.search-bar__close
    &__close {
        width: 2.4rem;
        height: 2.4rem;
        box-sizing: content-box;
        position: relative;
        z-index: 2;
        cursor: pointer;
        @media(min-width: $tabletP1) {
            display: none;
        }

        @media(max-width: $tablet) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) scale(0);
            transition: .5s cubic-bezier(0.15, 0.00, 0.00, 1.00);
        }
        &:before,
        &:after {
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 1.7rem;
            height: 1.5px;
            border-radius: .1rem;
            background-color: $black;
            transition:  .5s all cubic-bezier(0.15, 0.00, 0.00, 1.00);
        }
    }

    &.opened {
        .search-bar__btn {
                &:after {
                    width: 0 !important;
                }
            

        }
        .search-bar__wrapper {
            .search-bar__btn  {
                @media(max-width: $tablet) {
                    transform: scale(0);
                }
    
            }
            .search-bar__close {
                transform: translate(-50%,-50%) scale(1);
                &::before {
                    transform: translate(-50%, -50%) rotate(135deg);
                }
                &::after {
                    transform: translate(-50%, -50%) rotate(225deg);
                }
            }

        }
        .search-bar__field {
            transform: translateY(0);
        }
        [data-open-search] {
            opacity: 0;
            visibility: hidden;
        }
    }
}
