
.search-link {
    padding-top: 2.4rem;
    margin-top: 2.4rem;
    border-top: 2px solid transparent;
    & + & {
        border-top: 2px solid #E5E5E5;
    }
    // .search-link__row

    &__row {
        width: 100%;
        @media (min-width:$mobileP1) {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            
        }
        &:first-child {
            @media (max-width:$mobile) {
                display: flex;
                flex-direction: column-reverse;
                
            }

        }
        & + & {
            margin-top: 8px;
            flex-direction: row-reverse;
            .search-link__col {
                max-width: 100%;
                min-width: unset;
                margin-top: 1.6rem;
                margin-bottom: 0;
                @media (min-width:$mobileP1) {
                    margin: 0;
                    
                }
                &:first-child {
                    @media (min-width:$mobileP1) {
                        min-width: 28.8rem;
                        max-width: 28.8rem;
                        width: 100%;
                        margin-left: 3.2rem;
                        
                    }

                }
            }
        }
    }

    // .search-link__col

    &__col {
        max-width: 100%;
        & + & {
            margin-bottom: .8rem;
            @media (min-width:$mobileP1) {
                min-width: 28.8rem;
                max-width: 28.8rem;
                width: 100%;
                margin-left: 3.2rem;
                margin-bottom: 0;
                
            }
        }

        h2 {
            @extend .h6;
            line-height: 1.6;
            font-family: $primary-font;
        }
        h3 {
            @extend .p1;
            font-family: $secondary-font;
            color: #96969B;
            font-weight: normal;
        }
        p {
            color: #67676B;
        }
        ul {
            @extend .reset-list;
            display: flex;
            flex-wrap: wrap;
            gap: .8rem;
    
            li {
                a {
                    padding: .4rem .8rem;
                    background-color: $light-blue;
                    border-radius: .4rem;
                    display: block;
                    transition: .17s linear;
                    @media(max-width: $mobile) {
                        font-size: 1.4rem;
                    }
                }
                &:hover {
                    a {
                        background-color: #00A6D6;
                        color: $white;
                    }
                }
            }
        }
    }

    // .search-link__arrow

    &__arrow {
        margin-top: 3.2rem;
        @media (min-width:$mobileP1) {
            margin-top: 2.4rem;
            
        }
        .arrow {
            height: 1.6rem;
            min-width: 3rem;
            max-width: 3rem;

            @media(min-width: $mobileP1) {
                min-width: 3.4rem;
                max-width: 3.4rem;
                width: 3.4rem;
                height: 2.4rem;
                overflow: hidden;
            }

            svg {
                min-width: 3rem;
                height: auto;

                @media(min-width: $mobileP1) {
                    min-width: 4rem;
                }

                &:first-child {
                    min-width: unset;
                    right: 0px;
                    width: 1.2rem;
                    transform: translateY(-50%);
                }
            }
        }
        &:hover {
    
            .arrow {
                @media(min-width: $mobileP1) {
    
                    min-width: 4rem;
                    max-width: 4rem;
                    width: 4rem;
                }
    
                svg {
                    &:first-child {
                        @media(min-width: $mobileP1) {
                            right: 0px;
                        }
                    }
    
                    &:last-child {
                        @media(min-width: $mobileP1) {
                            width: 4rem;
                        }
                    }
                }
            }
        }
    }
}