.software-link {
    position: relative;
    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        border-radius: 4px;
        z-index: -1;
        opacity: 0;
        transition:  .5s cubic-bezier(0.15, 0.00, 0.00, 1.00) all, .0s .5s opacity;
    }

    // .software-link__wrapper

    &__wrapper {
        border-radius: 4px;
        padding: 2.4rem 1.6rem 2.4rem 2.4rem;
        box-sizing: border-box;
        background-color: #EFF1F3;
        min-height: 10rem;
        position: relative;
        top: 0;
        left: 0;
        transition:  .5s cubic-bezier(0.15, 0.00, 0.00, 1.00);
        @media(min-width: $tabletSmallP1) {
            padding: 2.4rem 1.6rem 3.2rem 2.4rem;
            min-height: 12rem;
        }
    }

    // .software-link__row

    &__row {
        h6 {
            @extend .h5;
            font-weight: 600;
            line-height: 1.3;
            width: 100%;
        }
    }

    // .software-link__icon

    &__icon {
        max-width: 4.4rem;
        min-width: 4.4rem;
        margin-left: 2rem;
        img,svg {
            width: 100%;
            height: auto;
        }
    }
    .arrow {
        margin-top: 4rem;
        height: 1.6rem;
        min-width: 2.4rem;
        max-width: 2.4rem;
        overflow: hidden;
        @media(min-width: $mobileP1) {
            min-width: 3.4rem;
            max-width: 3.4rem;
            width: 3.4rem;
            height: 2.4rem;
            overflow: hidden;
            margin-top: 3.2rem;
        }
        svg {
            min-width:3rem;
            height: auto;
            @media(min-width: $mobileP1) {
                min-width: 4rem;
            }
            &:first-child {
                min-width: unset;
                right: 0px;
                width: 1rem;
                transform: translateY(-50%);
                @media(min-width: $mobileP1) {
                    width: 1.2rem;
                }
            }
        }
    }
    &:hover {
        &:before {
            opacity: 1;
            transition:  .5s cubic-bezier(0.15, 0.00, 0.00, 1.00) all, .0s opacity;
        }
        .software-link__wrapper {
            top: -10px;
            left: -10px;
        }
        .arrow {
            @media(min-width: $mobileP1) {
            
                min-width: 4rem;
                max-width: 4rem;
                width: 4rem;
            }
            svg {
                &:first-child {
                    @media(min-width: $mobileP1) {
                        right: 0px;
                    }
                }
                &:last-child{
                    @media(min-width: $mobileP1) {
                        width: 4rem;
                    }
                }
            }
        } 
    }
}

